@import "../../../styles/global";

.archiveProject {
  &-searchBar {
    > div {
      width: max-content;
      display: block;
      margin: 0 auto;
      position: relative;
      i {
        position: absolute;
        left: 1.2rem;
        top: 1rem;
        font-size: 2rem;
      }
    }
    input {
      padding: 1rem 1rem 1rem 3.8rem;
      font-size: 1.8rem;
      border: none;
      outline: none;
    }
  }
  &-tiles {
    margin: 4rem 0;
  }
  &-tile {
    cursor: pointer;
    margin: 0 auto;
    padding: 2rem;
    max-width: 60rem;
    background: $white;
    border-radius: 1.5rem;
    font-size: 2rem;
    margin-bottom: 3rem;
    // > .tile-item {
    //   flex: 1;
    // }
    &-ps {
      flex: 1;
      font-size: 2.5rem;
      font-weight: 600;
      text-align: center;
      line-height: 5.5rem;
    }
    &-name {
      flex: 2;
      font-size: 2.2rem;
      font-weight: 500;
    }
    &-officerName {
      font-size: 1.5rem;
      color: #2b2c2c;
      margin-left: 1.5rem;
    }
  }
}
